body {
    background-color: black;
    color: lime;
    max-width: 900px;
    margin: auto;
}
header {
    margin: 35px;
    font-size: 20px;
}

h1,h2,h3 {text-align: center;
color: lightcoral;}

section.information {
    text-align: center;
    background-image: url(newyork.jpeg);
    padding: 50px;
    font-size: 50px;
}

div > p {
    background-color: black;
}
