body {
    background-color: black;
    color: lime;
    max-width: 900px;
    margin: auto;
}

header {
    margin: 35px;
    font-size: 20px;
}

section jumbotron {
    text-align: center;
    background-image: url(newyork.jpeg);
    padding: 50px;
    font-size: 50px;
}

a {
    color: lightcoral;
}

h1,h2,h3 {text-align: center;
color: lightcoral;}

div > p {
    background-color: black;
}
