body {
    background-color: black;
    color: coral;
    max-width: 900px;
    margin: auto;
}
header {
    margin: 35px;
    font-size: 20px;
    color: coral;
}

nav {
    color: lightskyblue;
}

h1,h2,h3 {text-align: center;
color: purple;}

h1 {
    text-align: center;
    background-image: url(newyork.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    font-size: 50px;
}

div > p {
    background-color: black;
}
